[user]
  name = PhrantiK
  email = 45719263+PhrantiK@users.noreply.github.com

[init]
  defaultBranch = main

[alias]
  st = status -uno
  stu = status

[feature]
  manyFiles = true
[pull]
	rebase = false
[safe]
	directory = /opt/appdata/freescout/data/Modules/AcmeModule
	directory = /opt/appdata/freescout/data/Modules/InvoiceNinjaFreeScout
	directory = /opt/appdata/freescout/data/Modules/ShortcutKeys
